### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
# Ignore virtual environments
venv/
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore editor files
.vscode/
.idea/

# Ignore environment files
.env

# Ignore build and distribution folders
build/
dist/

# Ignore test coverage files
.coverage
htmlcov/

# Ignore specific files
debug.log
